#create-order{
    width: 100%;

    .create-order-header{
    
        padding: 25px;
        .top{
            display: flex;
            justify-content: space-between;
        
        }
        .bottom{

            margin-top:20px ;
            p{
                margin: 0;
                font-weight: 600;
                span{
                    font-weight: normal;
                }
            }
        }
    }
}